body {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
}

main {
  text-align: center;
  width: 560px;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  padding-left: 100px;
}

a {
  color: black;
}

.avatar {
  object-fit: cover;
  object-position: 0 10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
